/* Scroll Timeline */
section {
    view-timeline: --scroll;
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  
  /* Animaciones */
    @keyframes fade-away {
    to {
        opacity: 0;
    }
  }
  
  @keyframes scale-up {
    to {
        scale: 1.5;
    }
  }

  .fade-on-scroll {
    animation: fade-away both linear;
    animation-timeline: --scroll;
    animation-range: exit 20% 90%;
  }

  .scale-on-scroll {
    animation: scale-up both ease-in-out;
    animation-timeline: --scroll;
    animation-range: entry 0% 100%;
  }
  